:root {
  --color-neutral-ultra-dark: #3C3C3C;
  --color-neutral-dark: #626262;
  --color-neutral-medium: #828282;
  --color-neutral-light: #c2c2c2;
  --color-neutral-ultra-light: #F5F5F5;
  --color-neutral: #ffffff;

  --color-transparent: rgba(255, 255, 255, 0);

  --color-accent-dark: #055861;
  --color-accent-medium: #087e8b;
  --color-accent-light: #84bfc5;

  --color-positive-dark: #297b46;
  --color-positive-medium: #3cb064;
  --color-positive-light: #6fce90;

  --color-warning-dark: #bd8c1a;
  --color-warning-medium: #e6b94f;
  --color-warning-light: #edce83;

  --color-negative-dark: #f10007;
  --color-negative-medium: #ff5a5f;
  --color-negative-light: #fe8b8f;

  --color-overlay: rgba(255, 255, 255, 0.7);
  --color-shadow: rgba(0, 0, 0, 0.1);

  --font-weight-light: 300;
  --font-weight: normal;
  --font-weight-bold: 500;

  --font-body-family: "Helvetica Neue", "Helvetica";
  --font-body-style: normal;
  --font-body-weight: var(--font-weight);
  --font-body-scale: 1.0;

  --font-heading-family: "Helvetica Neue", "Helvetica";
  --font-heading-style: normal;
  --font-heading-weight: var(--font-weight);
  --font-heading-scale: 1.0;

  --font-size: 1rem;

  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-48: 3rem;

  --line-height: 1.5rem;

  --line-height-12: 1.3125rem;
  --line-height-14: 1.3125rem;
  --line-height-16: 1.5rem;
  --line-height-20: 1.5625rem;
  --line-height-24: 1.875rem;
  --line-height-32: 2.5rem;
  --line-height-48: 3.75rem;

  --space-unit: 0.25rem; /* 4px grid */
  --space-0: calc(var(--space-unit) * 0); /* 0px */
  --space-1: calc(var(--space-unit) * 1); /* 4px */
  --space-2: calc(var(--space-unit) * 2); /* 8px */
  --space-3: calc(var(--space-unit) * 3); /* 12px */
  --space-4: calc(var(--space-unit) * 4); /* 16px */
  --space-5: calc(var(--space-unit) * 5); /* 20px */
  --space-6: calc(var(--space-unit) * 6); /* 24px */
  --space-7: calc(var(--space-unit) * 7); /* 28px */
  --space-8: calc(var(--space-unit) * 8); /* 32px */
  --space-9: calc(var(--space-unit) * 9); /* 36px */
  --space-10: calc(var(--space-unit) * 10); /* 40px */
  --space-12: calc(var(--space-unit) * 12); /* 48px */
  --space-16: calc(var(--space-unit) * 16); /* 64px */
  --space-20: calc(var(--space-unit) * 20); /* 80px */
  --space-24: calc(var(--space-unit) * 24); /* 96px */

  --padding-input: var(--space-3);
  --padding-button: var(--space-3) var(--space-4);

  --border-radius-input: 4px;
  --border-radius-button: 4px;
  --border-radius-chip: 12px;
  --border-radius-container: 8px;
  --border-radius-circle: 50%;

  --box-shadow: 4px 4px 6px 2px;

  --page-padding: var(--space-4);
  --page-max-width: 2000px;

  --letter-spacing: 0.04rem;
  --disabled-opacity: 50%;
  --transition-time: 100ms;
  --transition-easing: ease-in-out;

  --focus-outline: 3px solid var(--color-accent-light);
  --focus-outline-hidden: 3px solid transparent;

  --icon-caret-down: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='gray'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");

    /* --page
    --media
    --product
    --collection
    --blog
    --popup
    --drawer
    --text-boxes
    --buttons
    --inputs */

  --button-primary-color: var(--color-accent-medium);
  --button-primary-hover-color: var(--color-accent-dark);
  --button-secondary-color: var(--color-neutral-ultra-light);
  --button-secondary-hover-color: var(--color-neutral-light);
  --button-destructive-color: var(--color-negative-medium);
  --button-destructive-hover-color: var(--color-negative-dark);
  --input-color: var(--color-neutral);
  --input-placeholder-color: var(--color-neutral-medium);
  --font-color: var(--color-neutral-ultra-dark);
  --font-inverted-color: var(--color-neutral-ultra-light);
  --font-accent-color: var(--color-accent-medium);
  --font-link-color: var(--color-neutral-ultra-dark);
  --font-link-hover-color: var(--color-neutral-dark);
  --font-secondary-color: var(--color-neutral-medium);
  --background-color: var(--color-neutral);
  --background-color-2: var(--color-neutral-ultra-light);
  --border-color: var(--color-neutral-ultra-light);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  color: var(--font-color);
}

@media screen and (min-width: 750px) {
  body {
    font-size: var(--font-size);
  }
}

/* Forms / Fields / Labels */

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

label {
  display: flex;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  margin-bottom: var(--space-1);
}

.label-description {
  display: block;
  color: var(--font-secondary-color);
  margin-bottom: var(--space-2);
  margin-left: var(--space-7);
  font-size: var(--font-size-12);
}

/* Buttons */

button {
  margin: 0;
  display: inline-block;
  border-radius: var(--border-radius-button);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
  transition: background-color var(--transition-time) var(--transition-easing), border-color var(--transition-time) var(--transition-easing), outline var(--transition-time) var(--transition-easing);
  outline: var(--focus-outline-hidden);
}

button:focus, button[data-focused] {
  outline: var(--focus-outline);
}

button:active {
  filter: brightness(90%);
}

button:not(:disabled) {
  cursor: pointer;
}

button:not(.chip), button.primary:not(.chip) {
  padding: var(--space-1) var(--space-4);
  background-color: var(--button-primary-color);
  border: 1px solid var(--button-primary-color);
  color: var(--font-inverted-color);
}

button:hover:not(:disabled):not(.chip), button.primary:hover:not(:disabled):not(.chip), button[data-hovered]:not(:disabled):not(.chip), button.primary[data-hovered]:not(:disabled):not(.chip) {
  background-color: var(--button-primary-hover-color);
  border: 1px solid var(--button-primary-hover-color);
}

button:disabled, button.primary:disabled {
  opacity: var(--disabled-opacity);
}

button.secondary:not(.chip) {
  background-color: var(--button-secondary-color);
  border: 1px solid var(--button-secondary-color);
  color: var(--font-color);
}

button.secondary:hover:not(:disabled):not(.chip), button.secondary[data-hovered]:not(:disabled):not(.chip) {
  background-color: var(--button-secondary-hover-color);
  border: 1px solid var(--button-secondary-hover-color);
}

button.destructive:not(.chip) {
  background-color: var(--button-destructive-color);
  border: 1px solid var(--button-destructive-color);
}

button.destructive:hover:not(:disabled):not(.chip), button.destructive[data-hovered]:not(:disabled):not(.chip) {
  background-color: var(--button-destructive-hover-color);
  border: 1px solid var(--button-destructive-hover-color);
}

/* Links */

a, a.primary {
  border-radius: var(--border-radius-button);
  color: var(--button-primary-color);
  transition: color var(--transition-time) var(--transition-easing);
}

a:focus {
  outline: var(--focus-outline);
}

a:hover:not(:disabled), a.primary:hover:not(:disabled) {
  color: var(--button-primary-hover-color);
}

a.secondary {
  color: var(--font-link-color);
}

a.secondary:hover:not(:disabled) {
  color: var(--font-link-hover-color);
}

a:disabled, a[data-disabled] {
  color: var(--font-link-color);
  cursor: default;
  pointer-events: none;
  opacity: var(--disabled-opacity);
}

/* Badges */

.badge, .badge.neutral {
  line-height: 1.3rem;
  display: inline-block;
  padding: var(--space-0) var(--space-2);
  margin: 0;
  font-size: var(--font-size-14);
  background-color: var(--color-neutral-ultra-light);
  color: var(--color-neutral-ultra-dark);
  border-radius: var(--border-radius-button);
}

.badge.info {
  background-color: var(--color-accent-light);
  color: var(--color-accent-dark);
}

.badge.positive {
  background-color: var(--color-positive-light);
  color: var(--color-positive-dark);
}

.badge.warning {
  background-color: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.badge.negative {
  background-color: var(--color-negative-light);
  color: var(--color-negative-dark);
}

.badge.urgent {
  background-color: var(--color-negative-dark);
  color: var(--font-inverted-color);
}

/* Switches */

.switch {
  position: relative;
  display: block;
  border: none;
  appearance: none;
  height: var(--space-5);
  width: var(--space-10);
  background-color: var(--color-neutral-light);
  border-radius: 12px;
  outline: var(--focus-outline-hidden);
  transition: outline var(--transition-time) var(--transition-easing), background-color var(--transition-time) var(--transition-easing);
  margin: 0;
}

.switch.small {
  height: var(--space-3);
  width: var(--space-6);
}

.switch:focus, .switch:focus-visible, .switch[data-focused] {
  border: none;
  outline: var(--focus-outline);
}

.switch:not(:disabled) {
  cursor: pointer;
}

.switch:after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-dark);
  width: var(--space-5);
  height: var(--space-5);
  background-color: var(--color-neutral);
  transition: left var(--transition-time) var(--transition-easing);
}

.switch.small:after {
  width: var(--space-3);
  height: var(--space-3);
}

.switch:not(:checked):after {
  left: 0;
}

.switch:checked:after {
  left: var(--space-5);
}

.switch.small:checked:after {
  left: var(--space-3);
}

.switch:checked {
  background-color: var(--color-accent-medium);
}

.switch:disabled {
  opacity: var(--disabled-opacity);
}


/* Text Input */

input[type="text"] {
  padding: var(--space-2) var(--space-3);
  margin: 0;
  font-size: var(--font-size-14);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius-input);
  border: 1px solid var(--color-neutral-medium);
  outline: var(--focus-outline-hidden);
  transition: outline var(--transition-time) var(--transition-easing);
}

input[type="text"].small {
  font-size: var(--font-size-12);
  padding: var(--space-2) var(--space-3);
}

input[type="text"].large {
  font-size: var(--font-size-16);
  padding: var(--space-2) var(--space-3);
}

input[type="text"]:focus, input[type="text"][data-focused] {
  outline: var(--focus-outline);
}

input[type="text"]:invalid, input[type="text"][data-invalid] {
  border: 1px solid var(--color-negative-dark);
}

input[type="text"]:disabled {
  opacity: var(--disabled-opacity);
  background-color: var(--color-neutral-ultra-light);
}

/* Text Area */

textarea {
  font-family: var(--font-body-family);
  padding: var(--space-2) var(--space-3);
  margin: 0;
  font-size: var(--font-size-14);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius-input);
  border: 1px solid var(--color-neutral-medium);
  outline: var(--focus-outline-hidden);
  transition: outline var(--transition-time) var(--transition-easing);
  min-height: var(--space-9);
  width: 100%;
}

textarea.small {
  font-size: var(--font-size-12);
  padding: var(--space-2) var(--space-3);
}

textarea.large {
  font-size: var(--font-size-16);
  padding: var(--space-2) var(--space-3);
}

textarea:focus, textarea[data-focused] {
  outline: var(--focus-outline);
}

textarea:invalid, textarea[data-invalid] {
  border: 1px solid var(--color-negative-dark);
}

textarea:disabled {
  opacity: var(--disabled-opacity);
  background-color: var(--color-neutral-ultra-light);
}

/* Selects */

select {
  position: relative;
  padding: var(--space-2) var(--space-5) var(--space-2) var(--space-3);
  margin: 0;
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius-input);
  border: 1px solid var(--color-neutral-medium);
  outline: var(--focus-outline-hidden);
  transition: outline var(--transition-time) var(--transition-easing);
  appearance: none;
  background-image: var(--icon-caret-down);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: right center;
  background-clip: border-box;
}

select.small {
  font-size: var(--font-size-12);
  padding: var(--space-2) var(--space-5) var(--space-2) var(--space-3);
}

select.large {
  font-size: var(--font-size-16);
  padding: var(--space-2) var(--space-5) var(--space-2) var(--space-3);
}

select:focus, select[data-focused] {
  outline: var(--focus-outline);
}

select:invalid, select[data-invalid] {
  border: 1px solid var(--color-negative-dark);
}

select:disabled {
  opacity: var(--disabled-opacity);
  background-color: var(--color-neutral-ultra-light);
}

/* Checkboxes */
input[type="checkbox"]:not(.switch) {
  position: relative;
  display: block;
  border: none;
  appearance: none;
  margin: var(--space-1) var(--space-3) 0 0;
  height: var(--space-4);
  width: var(--space-4);
  background-color: var(--color-neutral);
  border: 1px solid var(--color-neutral-medium);
  border-radius: var(--border-radius-input);
  outline: var(--focus-outline-hidden);
  transition: outline var(--transition-time) var(--transition-easing), background-color var(--transition-time) var(--transition-easing);
}

input[type="checkbox"]:not(.switch):focus, input[type="checkbox"]:not(.switch):focus-visible, input[type="checkbox"]:not(.switch)[data-focused] {
  border: none;
  outline: var(--focus-outline);
}

input[type="checkbox"]:not(.switch):not(:disabled) {
  cursor: pointer;
}

input[type="checkbox"]:not(.switch):checked {
  background-color: var(--color-accent-medium);
  border: 1px solid var(--color-accent-medium);
}

input[type="checkbox"]:not(.switch):disabled {
  opacity: var(--disabled-opacity);
  background-color: var(--color-neutral-light);
}

/* Radios */
input[type="radio"] {
  position: relative;
  display: block;
  border: none;
  appearance: none;
  margin: var(--space-1) var(--space-3) 0 0;
  height: var(--space-4);
  width: var(--space-4);
  background-color: var(--color-neutral);
  border: 1px solid var(--color-neutral-medium);
  border-radius: 50%;
  outline: var(--focus-outline-hidden);
  transition: outline var(--transition-time) var(--transition-easing), background-color var(--transition-time) var(--transition-easing);
}

input[type="radio"]:after {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  right: 3px;
  top: 3px;
  border-radius: 50%;
  background-color: var(--color-neutral);
}

input[type="radio"]:focus, input[type="radio"]:focus-visible, input[type="radio"][data-focused] {
  border: none;
  outline: var(--focus-outline);
}

input[type="radio"]:not(:disabled) {
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--color-accent-medium);
  border: 1px solid var(--color-accent-medium);
}

input[type="radio"]:disabled {
  opacity: var(--disabled-opacity);
  background-color: var(--color-neutral-light);
}


/* Dates */
input[type="date"] {
  font-family: var(--font-body-family);
  text-transform: uppercase;
  padding: var(--space-2) var(--space-3);
  margin: 0;
  font-size: var(--font-size-14);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius-input);
  border: 1px solid var(--color-neutral-medium);
  outline: var(--focus-outline-hidden);
  transition: outline var(--transition-time) var(--transition-easing);
}

input[type="date"].small {
  font-size: var(--font-size-12);
  padding: var(--space-2) var(--space-3);
}

input[type="date"].large {
  font-size: var(--font-size-16);
  padding: var(--space-2) var(--space-3);
}

input[type="date"]:focus, input[type="date"][data-focused] {
  outline: var(--focus-outline);
}

input[type="date"]:invalid, input[type="date"][data-invalid] {
  border: 1px solid var(--color-negative-dark);
}

input[type="date"]:disabled {
  opacity: var(--disabled-opacity);
  background-color: var(--color-neutral-ultra-light);
}


/* Chips */
.chip {
  display: inline-block;
  position: relative;
  background-color: var(--color-neutral-ultra-light);
  border: 1px solid var(--color-neutral-ultra-light);
  color: var(--font-color);
  text-align: left;
  border-radius: var(--border-radius-chip);
}

.chip[data-empty] {
  border: 1px dashed var(--color-neutral-light);
}

.chip > i {
  margin-right: var(--space-2);
  font-style: normal;
  background-color: var(--color-neutral-dark);
  color: var(--font-inverted-color);
  border-radius: 50%;
  width: var(--space-3);
  height: var(--space-3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.chip > span:before {
  content: '|';
  margin-right: var(--space-2);
}

.chip:hover, .chip[data-hovered] {
  background-color: var(--color-neutral-light);
  border: 1px solid var(--color-neutral-light);
}


/* Toasts */

.toast {
  background-color: var(--color-neutral-ultra-dark);
  color: var(--font-inverted-color);
  padding: var(--space-3) var(--space-6);
  border-radius: var(--border-radius-container);
  display: inline-block;
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-14);
}

.toast.positive > i {
  color: var(--color-positive-medium);
}

.toast.warning > i {
  color: var(--color-warning-medium);
}
