body {
    background-color: var(--background-color-2);
    margin: var(--space-4);
}


section {
    margin: var(--space-4) 0;
    padding: var(--space-4);
    background-color: var(--background-color);
}

[class*="-grid"] {
    display: grid;
}

[class*="-grid"] > * {
    margin: var(--space-4);
}

.palette-grid {
    display: flex;
    flex-wrap: wrap;
}

.palette-grid > * {
    border-radius: var(--border-radius-container);
    width: 100px;
    height: 100px;
    font-size: var(--font-size-10);
    display: flex;
    text-align: left;
    align-items: flex-end;
    color: var(--color-neutral);
    padding: var(--space-2);
}

.typography-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.button-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.link-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.accordion-grid {
    grid-template-columns: 1fr 1fr;
}

.tooltip-grid {
    grid-template-columns: 1fr 1fr;
}

.menu-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.badge-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.checkbox-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.radio-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.switch-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tab-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.banner-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.toast-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.chip-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.date-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.select-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.text-field-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.form-field-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text-area-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
